[submodule "src/lib"]
	path = src/lib
	url = https://github.com/uw-midsun/ms-lib.git
	branch = chaos
[submodule "config/can"]
	path = config/can
	url = https://github.com/uw-midsun/can-config.git
	branch = master
